.farbtastic-colorpicker {
  position:relative; }

.farbtastic-colorpicker > input {
  width:100px;
  float:left; }

.farbtastic-colorpicker > div {
  position:absolute;
  overflow:hidden;
  z-index:2;
  left:115px;
  top:-85px;
  width:195px;
  height:195px;
  background:#ffffff;
  border-radius:100%;
  box-shadow:0px 0px 10px 5px #000000;
  -moz-box-shadow:0px 0px 10px 5px #000000;
  -webkit-box-shadow:0px 0px 10px 5px #000000; }
